<!-- <form action="/users/:id/edit" method="patch" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">username:</label><br>
  <input type="text" id="username" name="user[username]" placeholder="username"><br>
  <label for="email">email:</label><br>
  <input type="email" id="email" name="user[email]" placeholder="xyz@example.com"><br>
  <label for="password">password</label><br>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form> -->


<h1>Edit User Form</h1>

<%= render "user", user: @user %>